:root {
    --bg-body: #FFFFFF;

    --header-color: #0C0C0E;
    --header-link-bg: #0C0C0E0D;

    --copyright-color: #0C0C0E;

    --speed-color: #0C0C0E;
    --speed-restart-bg: #0C0C0E0D;
}

[data-theme="dark"] {
    --bg-body: #0C0C0E;

    --header-color: #FFFFFF;
    --header-link-bg: #FFFFFF0D;

    --copyright-color: #FFFFFF;

    --speed-color: #FFFFFF;
    --speed-restart-bg: #FFFFFF0D;
}